* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.nav-menu img {
    width: 60px;
    height: 60px;
}

.collapse .navbar-nav a:hover {
    color: #B6DED9 !important;
}

.collapse .navbar-nav .a-home {
    color: #47B2B6 !important;
}

.nav-icons {
    display: flex;
    align-items: center;
    background-color: #B6DED9;
    padding: 2vh 3vh 1vh 3vh;
    border-radius: 100px;

}

.nav-icons .cart {
    padding-left: 18px;
}

.navbar .nav-menu .nav-icons .cart:hover {
    color: #47B2B6 !important;
    cursor: pointer;
}

.navbar .nav-menu .nav-icons .like:hover {
    color: #47B2B6 !important;
    cursor: pointer;
}

.hero {
    background-image: url(/assets/img/img1.jpg);
    background-blend-mode: luminosity;
    width: 100%;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .7;
    width: 30%;
    background: #B6DED9;
}


.text-content {
    position: relative;
    justify-content: center;
}

.hero-text .text-content h1 {
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    color: #B6DED9;
    padding-top: 300px;

}

.hero-text .text-content h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

.women img {
    width: 100%;
}

.women img:hover {
    opacity: 0.7;

}

.women h1 {
    background-color: #B6DED9;
    padding: 2rem;
    width: 100%;
}

.men img {
    width: 100%;
}

.men img:hover {
    opacity: 0.7;
}


.men h1 {
    background-color: #B6DED9;
    padding: 2rem;
    width: 100%;
}

.N-head {
    font-size: 4rem;
    font-weight: bolder;
}

.N-arrivals p {
    font-size: 1.4rem;
    padding: 0 5rem 0 5rem;
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: #B6DED9;
    color: black;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover {
    background-color: black;
    color: #B6DED9;
    transition: 0.5s;
}

.card-body img:hover {
    box-shadow: 13px 17px 10px -8px rgba(163, 163, 163, 0.87);
    -webkit-box-shadow: 13px 17px 10px -8px rgba(163, 163, 163, 0.87);
    -moz-box-shadow: 13px 17px 10px -8px rgba(163, 163, 163, 0.87);

}

.sale-img {
    background-image: url(/assets/img/img12.jpg);
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.sale-img h1 {
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    color: #B6DED9;
    padding-top: 13rem;
}

.sale-img h1:hover {
    color: #ffffff;
    transition: 0.5s;
}

.sale-timer {
    background-color: #B6DED9;
    height: fit-content;
}

.sale-timer .details {
    padding: 4.5rem;
}

.sale-timer img {
    width: auto;
    height: fit-content;
}

.details .sale-head {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(95, 4, 4);
}

.details h3 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem 0;

}

.rate h6 {
    color: #6e6e6e;
    font-weight: bold;
}

.details .rate .old-r {
    text-decoration: line-through;
    padding-right: 20px;
    padding-bottom: 0.5rem;
}

.details .r-rate {
    background-color: rgb(95, 4, 4);
    padding: 6px;
    width: 15%;
    color: white;

}

.details .btn2 {
    height: 45px;
    width: 25%;
    color: white;
    border: 1px solid black;
    background-color: #B6DED9;
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1rem;
}

.btn2:hover {
    background-color: black;
    color: #B6DED9;
    transition: 0.5s;
}

.history .container {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.history h4 {
    color: #47B2B6;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 3px;
}

.history p {
    font-weight: bold;
    letter-spacing: 2px;
}

.brands .container {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: 100%;
}

.brands .container img {
    height: 8rem;
    width: 8rem;
}

.form-control-underlined {
    background-color: #ffffff !important;
    overflow: hidden;
    border: none;
}
.form-control-underlined:focus {
   outline: none;

}

.btn3 {
    background-color: #47B2B6;
    border-style: groove;
    padding: 1rem;
    
}

.btn3:hover {
    color: azure;
}

.services {
    background-color: #B6DED9;
}

.footer {
    padding: 5rem 0;
    background-color: #B6DED9;
}


.contents a:hover {
    text-decoration: underline !important;
    transition: 0.9s !important;
}

.footer-line a:hover {
    text-decoration: underline !important;
}


.collection .container-fluid {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(/assets/img/IMG2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28rem;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.collection .c-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-details h1 {
    letter-spacing: 2px;
    font-size: 3rem;
}

.c-details a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.c-details a:hover {
    text-decoration: underline;
}

.pagination .active .page-link {
    background-color: #47B2B6 !important;
    border-color: #47B2B6;
    color: #B6DED9 !important;
}


.pagination .page-link {
    color: #47B2B6 !important;
}

.blog .container-fluid {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(/assets/img/IMG3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28rem;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.blog .b-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-details h1 {
    letter-spacing: 2px;
    font-size: 3rem;
}

.b-details a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.b-details a:hover {
    text-decoration: underline;
}



/* banner */

img {
    display: block;
    width: 100%;
}

.banner {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.pexels.com/photos/5490970/pexels-photo-5490970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
}

.banner-title {
    font-size: 5rem;
    line-height: 1.2;
}

.banner-title span {
    color: #aaf2f5;
    font-weight: bold;
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    word-spacing: 2px;
    font-weight: 500;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-text {
    font-size: 1.1 rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: 0 !important;
}

.search-input::placeholder {
    text-transform: capitalize;
}

.search-btn {
    width: 40px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

.design {
    padding: 4.5rem 0;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    font-size: 2.4rem;
}

.title p {
    text-transform: capitalize;
    padding: 0.6rem 0;
}

.design-content {
    cursor: pointer;
    margin: 1.5rem 0;
}

.design-img {
    position: relative;
    overflow: hidden;
}

.design-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.design-img img {
    transition: all 0.5s ease;
}

.design-item:hover img {
    transform: scale(1.2);
}

.design-img span:first-of-type {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color: #aaaaaa;
    color: rgb(255, 255, 255);
    padding: 0.25rem 0.75rem;
    vertical-align: middle;
}

.design-img span:last-of-type {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    background-color: #aaaaaa;
    color: rgb(0, 0, 0);
    padding: 0.25rem 0.75rem;
    vertical-align: middle;
}

.design-title {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.design-title a {
    text-decoration: none;
    color: #0e3a3b;
    text-transform: capitalize;
}

.about {
    padding: 4.5rem 0;
    background-color: #1d201c;
}

.about-img {
    padding: 3rem;
}

.about-img img {
    transition: all 0.5s ease;
    border: 1px solid #fcfcfc;
}

.about-img:hover img {
    transform: scale(0.9);
}

.about-details {
    padding: 3rem;
}


/* contact */
.contact {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/img/IMG-11.jpg) center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
}

.contact-title {
    font-size: 5rem;
    line-height: 1.2;
}

.contact-title span {
    color: #aaf2f5;
    font-weight: bold;
}

.contact p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    word-spacing: 2px;
    font-weight: 500;
}

.contact form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.contact-text {
    font-size: 1.1 rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: 0 !important;
}

.contact-input::placeholder {
    text-transform: capitalize;
}

.contact-btn {
    width: 40px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
    color: #47B2B6;
}

.contact-form {
    padding: 4.5rem 0;
    background-color: #1d201c;
}

.contact-form .container {
    padding: 2rem;
    background-color:  #B6DED9;
}

.c-name {
    display: flex;
    justify-content: space-between;
}

.c-name .contact-N {
    padding: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    width: 100%;
    border: 0;
}

.contact-N:focus {
    outline: none;
}

.contact-C:focus {
    outline: none;
}

.c-name .contact-C {
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    border: 0;
}

.contact-form textarea {
    height: 150px;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 15px;
    color: #b7b7b7;
    margin-bottom: 0;
    resize: none;
}

textarea:focus {
    outline: none;
}

.contact-block .btn3 {
    width: 50%;
    color: white;
    border: 1px solid black;
    background-color: #000000;
    color: #B6DED9;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1.5rem;
}

.btn3:hover {
    background-color: #B6DED9;
    color: black;
    transition: 0.5s;
}